.admin-info-container {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-gap: 0.5em;
    height: 100vh;
    overflow: auto;
    background-color: #d9d9d9;
    justify-items: center;
}

.background {
    background-color: #d9d9d9;
}

.add-doc {
    margin: 1rem;
}

.doc-card {
    color: #000;
    width: 20rem;
    height: 8.5rem;
}

.doc-remove-button {
    width: 5rem;
    align-self: flex-end;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    background-color: #3c677e;
    border-color: #3c677e;
    color: whitesmoke;
}

.doc-remove-button:hover {
    background-color: whitesmoke;
    color: #3c677e;
    border-color: #3c677e;

}