.admin-info-container {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-gap: 0.5em;
    height: 100vh;
    overflow: auto;
    background-color: #d9d9d9;
    justify-items: center;
}

.background {
    background-color: #d9d9d9;
    border-color: #d9d9d9;
    margin-top: 3rem;
}

.add-margin {
    margin: 1rem;
}

.doc-card {
    color: #000;
    width: 20rem;
    height: 8.5rem;
}

.remove-button {
    width: 5rem;
    align-self: flex-end;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
}

.edit-remove-button {
    width: 5rem;
    align-self: center;
    margin: 0.5rem;
}

.doc-button-color {
    background-color: #3c677e;
    border-color: #3c677e;
    color: whitesmoke;
}

.doc-button-color:hover {
    background-color: whitesmoke;
    color: #3c677e;
    border-color: #3c677e;
}

.buttons-div {
    margin: 0.5rem;
    align-content: center;
}

.see-prepaid-button {
    width: 18rem;
    align-self: center;
}