.nav-bar {
    background-color: #345a6e;
}

.lang-buttons {
    background-color: #3c677e;
    border-color: #3c677e;
    color: whitesmoke;
}

.lang-buttons:hover {
    background-color: whitesmoke;
    border-color: whitesmoke;
    color: #3c677e;
}