.app-div{
    outline-color: rgba(0, 123, 255, 0.4);
    outline-style: groove;
    outline-width: thin;

    padding-bottom: 10px;
    padding-top: 10px;

    margin-bottom: 5px;
}
.mycont{
    margin-left: 0%;
    padding-bottom: 2%;
}

.info{
    font-size: 70%;
}

.mycell{
    text-align: center;
    vertical-align: center;
}