.schedule-container {
    padding: 2em;
}

.schedule {
    display: flex;
    align-items: stretch;
}

.doctor-schedule {
    width: 100%;
    margin: 3em;
}

.doctor-schedule th {
    background-color: #86C5D8;
}

.doctor-schedule tr:nth-child(odd){
    background-color: #F0F8FF;
}

.doctor-schedule tr:nth-child(even){
    background-color: #CAE9F5;
}

.schedule-cell{
    text-align: center;
    vertical-align: center;
}

.schedule-row {
    height: 50px;
}

