.doctor-index-container {
}

.doctor-index-clinic-container {
    display: grid;
    margin: 0 auto;
    padding: 4em;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
}

.clinic-card {
    height: 240px;
    width: 370px;
    background-color: #F0F8FF;
    padding:  2em 2em 2em 2em;
    border-style: solid;
    border-radius: 2em 2em 2em 2em;
    border-color: #ADD8E6;
    text-align: center;
}

.doctor-index-clinic-header {
    justify-self: center;
}