#doctors {
    position: fixed;
    margin-top: 110px;
    margin-left: 320px;
}

.single-doctor {
    text-align: center;
}

.doctor-picture {
    height: 150px;
    width: 150px;
    border-style: solid;
    border-radius: 0.5em;
    margin: 0.5em;
}

.doctor-row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.doctor-row > div {
    padding: 0.3em;
}