.edit-doctor-profile-container {
    grid-template-columns: 1fr !important;
}

.profile-save-options {
    margin: auto;
    width: 400px;
}

.profile-save-changes {
    margin-left: 1em;
}

.errors {
    color: #a00;
}
